body{
    background-color:black;
   background-repeat: no-repeat;
   /* background-size: cover; */
   /* height:max-conten */
}
a{
    float:right;
    font-size: 40px;
    color:white;
}
h1{
    font-size: 70px;
    color:aqua;
}
.p1{
    height:100px;
    width:100%;

}
.p1 p{
    font-size: 50px;
    color:aqua;
    padding-right:50%;
}
 .p2{
    height:100px;
    width:80%;
    margin-top:25%;
    margin-top:33%;
    font-size: 30px;

}
h2{
    font-size: 40px;
    color:aqua;
    padding-left:25%;
}
 .p2 p{
    font-size: 40px;
    color:aqua;
    padding-left:1%;  
} 
.p3{
    height:400px;
    width:100%;
    margin-top:20%;
    position: absolute;

}
h3{
    font-size: 40px;
    color:aqua;
    padding-right:50%;
}
 .p3 p{
    font-size: 40px;
    color:aqua;
    padding-right:10%;  
} .p4{
    height:400px;
    width:100%;
    margin-top:23%;
    position: absolute;
}
.p4 img{
    margin-top: 20%;
    margin-right:3%; 
     float:left; 
}
.p4 p{
    font-size: 40px;
    color:aqua;
    margin-top: 23%;
    /* padding-right: 25%; */
}

.p5 img{
    margin-top: 3%;
    /* padding-right:1%; */
    /* float:left; */
}
.p5 h4{

        font-size: 60px;
        margin-top: 80%;
}
.p6 img{
    margin-top: 10%;
    /* padding-right:1%; */
    /* float:left; */
}
.p7 img{
    margin-top: 10%;
    /* padding-right:1%; */
    /* float:left; */
}
h5{
    font-size: 40px;
}