body{
    background-image: url("https://media.istockphoto.com/id/1221893643/photo/networked-music-and-cloud-music-sharing-3d-illustration.webp?b=1&s=170667a&w=0&k=20&c=eko9rULur0J3Q7gMWrArWity7no0nk6b0qW9Ez3PgkM=");
   background-size: cover;
   background-repeat: no-repeat;
}
.signup{
    height:45px; 
    width: 100%;
    background-size: cover;
    margin-top: 3%;
    font-size: 30px;
    margin-left:30%;
}
#firstname{
    font-size:20px;
}
#lastname{
    font-size:20px;
}
#mail{
    font-size:20px;
}
#password{
    font-size:20px;
}
#password{
    font-size:20px;
}
#btn{
    font-size:20px;
}