body{
    background-image: url("https://png.pngtree.com/background/20210710/original/pngtree-electric-sound-vibrating-wind-gradient-color-music-festival-music-poster-picture-image_1038382.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}
p{
    font-size: 50px;
}
.song{
    padding: 7%;
    margin-top: 1%;
    margin-left: 35%;

}
a{
   padding:7%;
   font-size: 30px; 
}
.img1 img{
    padding-right:63%;
    width:300px;
    }
    .img2 img{
        padding-right:63%;
        width:300px;
        }
        .img3 img{
            padding-right:63%;
            height:300px;
            width:300px;
            }
            .img4 img{
                padding-right:63%;
                height:300px;
                width:300px;
                }
                .img5 img{
                    padding-right:63%;
                    height:300px;
                    }
                    .img6 img{
                        padding-right:63%;
                        height:200px;
                        }
    